.map-container {
  display: flex;
  position: relative;
  border: 2px solid #ffffff;
}

#map {
  background-color: #313131;
  width: 100%;
  height: auto;
  aspect-ratio: 4096/1408;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  z-index: 1;
}

#secrets {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: transparent;
  width: 100%;
  height: auto;
  aspect-ratio: 4096/1408;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  z-index: 2;
}

#obscure {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: transparent;
  width: 100%;
  height: auto;
  aspect-ratio: 4096/1408;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  z-index: 3;
}

#openScreen {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: transparent;
  width: 65%;
  height: auto;
  aspect-ratio: 4096/1408;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  z-index: 4;
  margin: auto;
}
