.screen {
  position: relative;
  display: grid;
  user-select: none;
  outline: 1px solid black;
  cursor: pointer;

  &:not(.visible) {
    background: black;
  }

  .coords {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.25);

    opacity: 0;
  }

  &:hover:after {
    opacity: 1;
  }
}
